body{
    background-color: gray;
}

.gradient-right{
    width: 800px;
    height: 200px;
    border: 1px solid black;
    background-image: linear-gradient(to right, green, red);
}

.gradient-lefttop{
    width: 800px;
    height: 200px;
    border: 1px solid black;
    background-image: linear-gradient(to left top, green, red);
}

.gradient-top{
    width: 800px;
    height: 200px;
    border: 1px solid black;
    background-image: linear-gradient(to top, green, red);
}